* {
    font-family: 'Quicksand', sans-serif;
}

nav {
   background-color: #4577ED;
    text-align: center;
    color: #ffffff;
    margin: 1%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    border: solid 1px #ffffff;
    color: #000000;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    text-decoration: none;
    transition: background-color 1s;
    width: 25vh;


}

nav a:hover, nav a:focus {
    background-color: gold;
    color: #ffffff;
}

nav ul ul li {
    display: block;
    background-color: #4577ED;
}

nav ul ul li a {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
}

nav li:hover ul, nav li:focus ul {
    display: block;
}

.flexbox {
    display: flex;
    justify-content: center;
    text-align: center;
}

